
          div{
            height: 100px;
            width: 100px;
            background-color: aqua;
            color: blue;
            border: 2px solid black;
        }

        .box {
        width: 500px;
        height: 100px;
        border: 2px solid black;
        border-radius: 20px;
        text-align: center;
        font-size: 50px;
        }